body {
  background-color: #f6b9ec; /* Clear mauve background color */
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000080; /* Dark blue background color */
  color: #ffffff; /* Text color for navbar items */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #ffffff;
}